<!DOCTYPE html>
<html>
    <body>
        <%= render 'layouts/navbar' %>
        <div class="container-fluid">
            <h1>Sign Up, Pup!</h1>
            <%= render 'form' %>
 
        <!--<%= link_to 'Back', root_path %>-->

        </div>
    </body>
</html>


