<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <%= render 'layouts/navbar' %>
    <header>
        
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="offset-1"></div>
            <div class="col-4">
                <div class="card-body intro-card">
                    <h3 class="card-title">Your perfect play date is waiting</h3>
                    <p class="card-text">Doggr is the number 1 doggy dating site in IT</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    <div>
    

</body>

</html>