<h1>Welcome to Doggr</h1>
<h2>The Location to find the best Doggy play dates</h2>

<p>If you are a returning user please, <%= link_to 'Login!', login_path %></p>
<p>If it's your first time, <%= link_to 'Create Dog account', new_dog_path %></p>