<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <%= render 'layouts/navbar' %>
    <header>
        
    </header>
    <div class="container">
        <h2>The Location to find the best Doggy play dates</h2>
    <div>
    

</body>

</html>