<%= link_to 'Sign Up Your Dog Here', new_dog_path %>
<br>
<h1>Welcome to Doggr!</h1>
<h2>The Location to find the best Doggy Play Dates!</h2>

<center><img src="https://www.chewy.com/petcentral/wp-content/uploads/2018/05/dog-play-date-tip1-x-670-440x.jpg"></center>


