/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
 
 
 @import "bootstrap";

 
 body {
     padding-top: 80px;
     background: #f7f7ff;
 }
 
// input[type=text]{
//     width: 50%;
//     padding: 12px 12px;
//     border: 2px solid #ccc;
//     background-color: #f8f8f8;
// }

// textarea{
//     width: 100%;
//     height: 300px;
//     padding: 12px 12px;
//     border: 2px solid #ccc;
//     background-color: #f8f8f8;
//     resize: none;
// }

// input[type=button], input[type=submit]{
//     background-color:    #4CAF50;
//     float: right;
//     border: none;
//     color: white;
//     padding: 16px 20px;
//     text-decoration: none;
//     cursor: pointer;
// }

.navbar-light .navbar-nav .nav-link {
    color: #f7f7ff;
}

.index-page {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.img-brand {
    height: 50px;
    width: 50px;
}

.nav-link {
    margin: 5px 5px;
    // margin-top: 0px;
    // margin-bottom: 27px;
    background:  #fe5f55;
    /* border-radius: 25%; */
    /* color: white; */
    /* padding-top: 30px; */
    vertical-align: top;
    // width: 65px;
    text-align: center;
    color: #f7f7ff;
}

.navvy {
    background: #495867;
    opacity: .85;
}

.nameplate {
    font-family: 'Kaushan Script', cursive;
    color: #fe5f55;
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    opacity: 1;
}

// .nameplate:hover {
//     // border: 5px solid rgba(87, 115, 153, .5);
//     text-shadow: -2px 2px 2px rgba(255, 255, 255, 0.4);
// }

.intro-card {
    margin-top: 100px;
    color: #f7f7ff;
}


.nameplate:hover {
    color: #fe5f55;
    text-decoration: none;
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #db473f , 0 0 70px #db473f , 0 0 80px #db473f , 0 0 100px #db473f ;
}

.carousel-card {
    margin-top: 25px;
    color: #f7f7ff;
}

.carousel-item {
    // opacity: .75;
    margin: auto;
}

.carousel-item > img {
    margin-left: 25px;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1.0), rgba(0,0,0,.5));
    border-radius: 5%;
}

.slide {
    margin: auto;
    border-radius: 5%;

}

.active {
    width: 100%;
    // max-height: 427px;
    border-radius: 5%;

}

.color-text {
    color: #fe5f55;
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #db473f , 0 0 70px #db473f , 0 0 80px #db473f , 0 0 100px #db473f ;
}

.signup-btn {
    background: #fe5f55;
    border: 2px solid #fe5f55;
    color: #f7f7ff;
}

.signup-btn:hover {
    background: #db473f;
    border: 2px solid #db473f;
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #db473f , 0 0 70px #db473f , 0 0 80px #db473f , 0 0 100px #db473f ;

}

