h1 {
    font-size: 56px;
    color: white;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    
}

h2{
    font-size: 32px;
    color: white;
    font-style: italic;
    text-align: center;
}

img{
    horizontal: middle;
}

body{
    background-color: brown
}

// A:link{
//     font-size: 25px;
//     float: right;
// }